.mouse-icon{
    margin:10% auto;
    
}
.input-username{
    width:50%;
    justify-self: center;
    margin: 0 auto;
}
.login-section{
    height: 100%;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.login-button{
    width:50%;
    justify-self: center;
    margin: 0 auto;
}